

/* Overvall padding */
.header,
.form,
.countries {
  padding: 10px 50px;
}


/* Form component */
.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
}

.form input,
.form select {
  background-color: var(--article-color);
  padding: 12px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
}

.form input::placeholder {
  color: var(--text-color);
}

.form input.light-theme,
.form select.light-theme {
  background-color: var(--light-mode-input);
}

/* Countries component */
.countries {
  padding: 0 50px 50px;
}

.countries article {
  transition: background-color 0.4s;
}

.countries .flag img {
  border-radius: 5px 5px 0 0;
}

.countries .details {
  border-radius: 0 0 5px 5px;
  background-color: var(--article-color);
  margin: -10px 0 30px;
  padding: 20px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

.countries .details.light-theme {
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

.countries .details h4 {
  margin: 10px 0;
}

.countries .details h4 span {
  font-weight: 300;
}

/* Media queries */
@media (min-width: 640px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .countries .details {
    margin: -10px 0 0;
  }
}

@media (min-width: 992px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 20px;
    padding: 20px 0;
  }

  .form input {
    width: 90vw;
    margin-bottom: 20px;
  }

  .form .select select {
    width: 50vw;
  }
}
